<h1>Danh sach khoa hoc</h1>
<div class="mt-4">
    <div class="row">

        {{#each courses}}
            <div class="card card-courses" style="width: 18rem;">
                <a href="/course/{{this.slug}}">
                    <img src="{{this.img}}" class="card-img-top" alt="..." width="200" height="150" style="object-fit: cover; margin-top: 5px">
                </a>
                <div class="card-body">
                    <a href="/course/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}} </p>
                </div>
                <a href="/course/{{this.slug}}" class="btn btn-primary" style="margin-bottom: 5px; width: 100px;">Tham gia</a>
            </div>
        {{/each}}

    </div>
    </div>
</div>
</div>