<div class="mt-4">
    <h3>Danh sach khoa hoc cua toi</h3>
    <a href="/me/trash/courses">Khoa hoc da xoa</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ten</th>
            <th scope="col">Mo ta</th>
            <th scope="col">Thoi gian tao</th>
            <th scope="col">Hanh dong</th>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
        <tr>
            <td scope="row">{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/course/{{this._id}}/edit" class="btn btn-success">Sua</a>
                <a href="" class="btn btn-success" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-Modal" >Xoa</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="5" class="text-center">
                Hien tai khong co khoa hoc nao
                <a href="/course/create">Them khoa hoc</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>


<div class="modal fade" id="delete-course-Modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="delete-course-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xoá</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xoá khoá học này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('delete-course-Modal');
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            // Button bấm để mở modal
            const button = event.relatedTarget;
            const courseId = button.getAttribute('data-id');

            // Gắn id vào form xoá (hoặc input ẩn trong modal)
            const deleteForm = deleteModal.querySelector('#delete-course-form');
            if (deleteForm) {
                deleteForm.action = `/course/${courseId}/delete?_method=DELETE`;
            }
        });
    }
</script>
